.abouts__company{
    margin-top: 100px;
    display: flex;
    margin-bottom: 20px;
    gap: 100px;
}
.abouts__company--img{
    max-width: 50%;
}
.abouts__company--title {
    font-size: 34px;
    padding: 10px;
}  
.abouts__company--text{
    font-size: 22px;
    line-height: 30px;
    padding: 10px;
}
  @media (max-width: 1200px) {
    .abouts__company{
        flex-wrap: wrap;
        gap: 10px;
    }
    .abouts__company--img{
        max-width: 100%;
    }
  }
  @media (max-width: 980px) {
    .abouts__company--title {
        font-size: 18px;
    }      
    .abouts__company--text{
        font-size: 14px;
    }
    .abouts__company--info {
        padding-right: 0px;
    }
  }