* {
    box-sizing: border-box;
  }
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
a {
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    list-style: none;
}

h1, h2 , p{
    margin: 0;
}

.header__logo {
    padding-top: 12px;
}

.logo img{
    width: 110px;
}
  
img{
	max-width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1540px;
	padding: 0 15px;
}

.header{
   /* background-color: #3b3d42;*/
    background-color: #00111b;
    background-repeat: repeat;
    position: fixed;  
    top: 0;   
    left: 0;   
    z-index: 9999;   
    width: 100%;   
    padding: 0 40px;
}
.header__content{ 
    display: flex;
    padding: 10px 40px 10px 40px;
    justify-content: space-between;
}

.header__navigation{
    font-weight: 300;
    font-size: 24px;
}

.header__navigation a:hover{
    color: #7d73ff;;
}
.header__navigation ul{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

    .open{
        display: flex !important;
    }

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    top: 20px;
}
.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #CFD8DC;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #CFD8DC;
    transition: all 0.3s ease 0s;  
}

.burger::before{
    top:0;
}
.burger::after{
    bottom: 0;
}
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.connection {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    border-bottom: 1px solid #94a9f9;
    padding-bottom: 5px;
    display: inline;
  }
.connection__phone{
    width: 30px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
.connection__pochta{
    width: 35px;
}

.trigger{
    background: #00111b;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 30%;
    border-radius: .5rem;
    color: #fff;
    background: linear-gradient(to top left,#beb0e6,#0c0157f7);
  }
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #290b93;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.form__title{
    font-size: 24px;
    margin-bottom: 15px;
}
.form__subtitle {
    font-size: 18px;
    font-style: italic;
  }

.form__name, .form__email, .form__message{
    width: 70%;
    margin-top: 15px;
}

.form__name, .form__email{
    height: 30px;

}
.form__message{
    max-width: 70%;
}
.form__btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #290b93;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }

@media (max-width: 1200px){
    .container{
        max-width: 1140px;
    }  
 }
 @media (max-width: 988px){
    .container{
        max-width: 1040px;
    }  
 }
 @media (max-width: 900px) {
    .burger{
        display: flex;
    }
    .header__navigation{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgba(0, 0, 0, 0.911);
        animation: burgerAnimation 0.4s;   
    }
    .header__navigation ul{
        flex-direction: column;
        row-gap: 30px;
    }

    @keyframes burgerAnimation{
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

 @media (max-width: 768px) {
    .header{
        padding: 0 20px;
    }
    .header__navigation{
        font-size: 16px;
    }
    .header__content {
        padding: 15px 25px 15px 25px;
    }
 }

 @media (max-width: 400px) {
    .header{
        padding: 0 10px;
    }
    .main-menu__contact {
        font-size: 14px;
    }
    .header__navigation{
        font-weight: 500;
    }
    .header__content {
        padding: 15px 13px 15px 13px;
    }
    .header__navigation ul{
        gap: 10px;
    }
    .logo img{
        width: 80px;
    }
    .burger{
        width: 25px;
        height: 15px;
    }
    .header__navigation ul{
        margin-top: 30px;
    }
 }